:root{
--primarri-text-color color: #212121;
--secondary-text-color color: #757575;
--accent-color color: #2196f3; 
}

body {
  font-family: "Roboto", sans-serif;
}
ul{
  list-style: none;
}
.background {
  background: #2f303a;
}

/* Логотип */
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}
.logo-web {
  color: var(--accent-color);
}

.logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}
.logo-footer-studio {
  color: #ffffff;
}
/* Навігація сайту */
.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.nav.current {
  color: #2196f3;
}
.nav:hover,
.nav:focus {
  color: #2196f3;
}
/* Контакти шапка */
.contacontacts-header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575; 
  text-decoration: none;
}

.contacontacts-header-mail:hover,
.contacontacts-header-mail:focus {
  color: #2196f3;
}

.contacontacts-header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color:  #757575;;
  text-decoration: none;
}
.contacontacts-header-tel:hover,
.contacontacts-header-tel:focus {
  color: #2196f3;
}
/* Основний заголовок */
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.button-hero {
  background: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

/* Особливості */
.list-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
}

.list-text-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color:  #757575;;
}

/* Список зоголовків */
.title-list {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
/* Список працівників */

.list-worker {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
}
.List-vacancies {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color:  #757575;;
}
.team {
  background: #f5f4fa;
}

/* Адрес підвал */
.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/* Контакти підвал */
.contacontacts-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

/* Портфоліо */

/* Кнопки фільтра */
.list-botton-filtres-all {
  background: #2196f3;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.list-botton-filtres {
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
}
.list-botton-filtres:hover,
.list-botton-filtres:focus {
  color: #ffffff;
}
.list-botton-filtres:hover,
.list-botton-filtres:focus {
  background: #2196f3;
}

/* Список проектів */

.list-item-projects {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  text-decoration: none;
}
.list-text-projects {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color:  #757575;;
  text-decoration: none;
}
